# https://bazel.build/run/bazelrc

# https://github.com/bazelbuild/rules_jvm_external/blob/master/docs/bzlmod.md#installation
common --enable_bzlmod

# Java version must match .devcontainer/devcontainer.json
# https://bazel.build/docs/bazel-and-java#java-versions
common --java_language_version=21
common --tool_java_language_version=21
# https://bazel.build/docs/user-manual#java_runtime_version
common --java_runtime_version=local_jdk_21
common --tool_java_runtime_version=local_jdk_21
common --action_env=JAVA_HOME

# https://github.com/bazelbuild/intellij/issues/1169
common --incompatible_strict_action_env

# https://bazel.build/reference/command-line-reference#flag--test_output
test --test_output=errors

# https://github.com/salesforce/bazel-eclipse/blob/main/docs/common/classpath.md#basics-classpath
# https://bazel.build/reference/command-line-reference#flag--explicit_java_test_deps
# BOTH build and test HAVE to have this - otherwise it's broken due to frequent this:
# "Build option --explicit_java_test_deps has changed, discarding analysis cache."
common --explicit_java_test_deps

# https://github.com/bazelbuild/bazel/issues/4257
# https://bazel.build/docs/user-manual#build-tests-only
test --nobuild_tests_only

# https://github.com/salesforce/bazel-eclipse/blob/main/docs/common/classpath.md#basics-classpath
# For having sources available in the IDE always create source jars, as Bazel doesn't do this by default.
build --output_groups=+_source_jars
