root = true

# TODO At this point it may be easier to do 2 by default, and 4 for *.java... ;-)

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[*.md]
indent_size = unset
# See, and must match, the .markdownlint.yaml MD013: line_length
max_line_length = unset

[*.proto]
indent_size = 2
tab_width = 2

[*.textproto]
indent_size = unset
tab_width = unset

# The ./enola* files are Bash scripts (without *.bash extension)
[enola*]
indent_size = 2
tab_width = 2

[*.bash]
indent_size = 2
tab_width = 2
max_line_length = unset

[*.css]
indent_size = 2
tab_width = 2

[*.html]
indent_size = unset
tab_width = unset

[*.java]
max_line_length = unset
indent_size = unset

[*.json]
max_line_length = unset
indent_size = 2
tab_width = 2
max_line_length = unset

[*.jsonc]
indent_size = 2
tab_width = 2
max_line_length = unset

[*.jsonld]
indent_size = 2
tab_width = 2
max_line_length = unset

[*.json5]
indent_size = 2
tab_width = 2
max_line_length = unset

[*.ttl]
indent_size = 2
tab_width = 2
max_line_length = 140

[*.ttls]
indent_size = 2
tab_width = 2
max_line_length = 140

[*.toml]
indent_size = 2

[*.yaml]
indent_size = 2

[*.yamlld]
indent_size = 2

[*.yml]
indent_size = 2

[LICENSE]
indent_size = unset

[LICENSE-header.txt]
# https://github.com/Lucas-C/pre-commit-hooks/issues/70
insert_final_newline = false

# Generated Code is ignored
# Keep in sync with .prettierignore
[maven_install.json]
generated_code = true
indent_size = unset
max_line_length = unset

[MODULE.bazel.lock]
generated_code = true
indent_size = unset
max_line_length = unset

[test-random-binary]
insert_final_newline = false

[script.output]
indent_size = unset
max_line_length = unset

[mkdocs.yaml]
max_line_length = unset

[WORKSPACE.bazel]
max_line_length = unset

[.bazelproject]
indent_size = 2

[ci.yaml]
max_line_length = unset

[CITATION.cff]
indent_size = unset
max_line_length = unset

[Dockerfile]
max_line_length = unset

# Note that https://github.com/editorconfig-checker/editorconfig-checker
# which https://github.com/editorconfig-checker/editorconfig-checker.python
# uses does not understand e.g. [{*.yaml,*.yml}] but only single ones.
