# JDT
bin/

# Bazel
bazel-*

# Gradle
build/
.gradle

# IntelliJ
.ijwb/
.idea/

# Python Virtual Environment (venv, created by ./test.bash)
.venv/

# mkdocs
# incl. e.g. .cache/plugin/git-committers/page-authors.json
site/
.cache/

# asciinema, used in demo/**
docs/use/**/*.cast
docs/use/**/*.svg
docs/use/**/*.output
docs/use/library/docgen.md

# Node.JS
node_modules/
