# SPDX-License-Identifier: Apache-2.0
#
# Copyright 2023-2025 The Enola <https://enola.dev> Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

# NB: When adding new hooks, or making changes to existing hooks configuration,
# run `pre-commit run --all-files` one time, to run the hooks against all of the existing files!
# (Because regular pre-commit will only run on the changed files.)

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-executables-have-shebangs
        # TODO - id: check-json
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
        # shebang needed for syntax check, but files are sourced not executed
        exclude: ^\.envrc
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-yaml
        args: [--allow-multiple-documents]
        exclude: mkdocs.yaml
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        # https://github.com/Lucas-C/pre-commit-hooks/issues/70
        exclude: ^(LICENSE-header.txt|.*test-random-binary|.*.svg|.*.expected|third_party/.*|.flox/env/manifest.lock)$
      - id: trailing-whitespace

  - repo: https://github.com/Lucas-C/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        files: \.(proto)$
        args:
          - --comment-style
          - "//"
          - --license-filepath
          - LICENSE-header.txt
          - --fuzzy-match-generates-todo
          - --use-current-year
      - id: insert-license
        files: \.(java|js|ts)$
        exclude: ^(third_party/.*)$
        args:
          - --no-extra-eol
          - --comment-style
          - /*| *| */
          - --license-filepath
          - LICENSE-header.txt
          - --fuzzy-match-generates-todo
          - --use-current-year
      - id: insert-license
        files: \.(bash|bazel|textproto|ttl|yaml)$
        exclude: ^docs/use|test/|.*test.ttl|pnpm-lock.yaml
        args:
          - --comment-style
          - "#"
          - --license-filepath
          - LICENSE-header.txt
          - --fuzzy-match-generates-todo
          - --use-current-year
      - id: insert-license
        files: \.(md|html)$
        # docs/specs/**.md is starting to use YAML Frontmatter, and can't have license headers
        # due to the https://github.com/markdownlint/markdownlint/issues/515 limitation... :=()
        exclude: ^.github/|.gemini/|test/|docs/blog/posts/|docs/use/execmd/demo.md|docs/specs/|docs/agents
        args:
          - --comment-style
          - "<!--|   |-->"
          - --license-filepath
          - LICENSE-header.txt
          - --fuzzy-match-generates-todo
          - --use-current-year

  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v19.1.7
    hooks:
      - id: clang-format
        # clang-format can also do e.g. *.java and *.json but we only want proto
        # and textproto - which doesn't actually work yet; TODO bump version after a
        # release which includes https://github.com/pre-commit/identify/pull/373
        # and https://github.com/pre-commit/mirrors-clang-format/pull/22.
        # In the mean-time, it's possible to manually clang-format -i the.textproto
        files: \.(proto|textproto)$
        exclude: ^test

  - repo: https://github.com/yoheimuta/protolint
    # This version must be kept in the sync with the one in tools/protolint/install.bash
    # NB: v0.51.0 requires go v1.23 (so Fedora 41 not 40; TODO check GitHub Runner...)
    rev: v0.53.0
    hooks:
      - id: protolint

  # Alternative: https://github.com/dustinsand/pre-commit-jvm/ now that
  # https://github.com/dustinsand/pre-commit-jvm/issues/8 is fixed, but that requires
  # https://get-coursier.io to be installed as a pre-req, which seems overkill just
  # for a single fat JAR without any dependencies.
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-java
        # Keep this version in sync with the same version in .vscode/settings.json
        args: [--autofix, --aosp, --google-java-formatter-version=1.27.0]
        # See https://github.com/google/google-java-format/issues/1216
        exclude: learn/jbang

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        exclude: (^.github/|test/|docs/use/docgen/docgen.md|docs/index.md)

    # TODO Deactivated since
    #   * Even with older version it sometimes just fails without showing errors
    #   * It's SO SLOW... doesn't seem to cache the results ?!
    # Until https://github.com/DavidAnson/markdownlint/issues/121 (or Enola itself)
    # - repo: https://github.com/tcort/markdown-link-check
    #   rev: v3.12.2 # TODO v3.13.6 causes https://github.com/tcort/markdown-link-check/issues/387 ...
    #   hooks:
    #     - id: markdown-link-check
    #       exclude: (models/|test/|docs/use/docgen/docgen.md|docs/use/server/index.md|docs/concepts/timeline.md)
    #       args: [--quiet, --config, .markdown-link-check.json]

  # Alternative: https://github.com/bazelbuild/buildtools/blob/master/buildifier/README.md
  - repo: https://github.com/keith/pre-commit-buildifier
    rev: 8.0.1
    hooks:
      - id: buildifier
        args: &args
          - --warnings=all
      - id: buildifier-lint
        args: *args

  # TODO Replace, because it's archived=unmaintained ("prettier made some changes that breaks plugins entirely")
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        # NOT markdown, because we use markdownlint for that
        # NOT YAML, because ... it suddenly, and without version change (?!) wanted to change them all
        types_or: [css, html, javascript, json, json5, scss, ts, tsx]
        exclude: ^docs/use|test/|.devcontainer/devcontainer.json|third_party/
        additional_dependencies:
          # TODO Avoid duplicating the Prettier version here and in web/package.json
          - prettier@3.2.4

  - repo: https://github.com/pre-commit/mirrors-csslint
    rev: v1.0.5
    hooks:
      - id: csslint

  # https://yamllint.readthedocs.io/en/stable/integration.html#integration-with-pre-commit
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.35.1
    hooks:
      - id: yamllint
        # https://yamllint.readthedocs.io/en/stable/configuration.html#errors-and-warnings
        args: [--strict]

  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.10.0.1
    hooks:
      - id: shellcheck
        exclude: mvnw

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.31.3
    hooks:
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]
      # TODO https://github.com/python-jsonschema/check-jsonschema/issues/542
      # - id: check-renovate
      #   args: ["--verbose"]
      #   additional_dependencies: ["pyjson5==1.6.7"]
      - id: check-metaschema
        files: \.schema\.json$
        args: ["--verbose"]

  # https://github.com/NixOS/nixfmt#pre-commit
  - repo: https://github.com/NixOS/nixfmt
    rev: 2caa09642c3cde5985cf8d239ffc66094c344c57
    hooks:
      - id: nixfmt-nix

  # https://editorconfig.org check should run AFTER all of the formatters (above)
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.2.0
    hooks:
      - id: editorconfig-checker
        exclude: mvnw
