# Generated Code is ignored
# Keep in sync with .editorconfig
/maven_install.json

# Markdown is formatted by markdownlint not Prettier (see docs/dev/style.md)
# (If ever this is removed after all, note https://github.com/DavidAnson/markdownlint/blob/main/doc/Prettier.md)
*.md

# Test expected output should not be formatted
*.expected*

# Leave https://pnpm.io (and our note in NPM for non-use of package-lock.json) alone
web/pnpm-lock.yaml
web/package-lock.json
