# See tools/asdf/install.bash

# List is on https://github.com/asdf-vm/asdf-plugins
# (It's also possible to directly install from any other repo.)

# Here is how to use ASDF, for example:
#
# asdf plugin add protoc
# asdf list-all protoc
# asdf install protoc latest
# asdf local protoc latest

# Protoc is used (only) by tools/protoc/protoc.bash
# to generate *.schema.json from *.proto; the Bazel
# rules_proto (downloads and builds) its own protoc.
protoc 29.2

# TODO protolint here instead of installing it in test.bash
# when https://github.com/spencergilbert/asdf-protolint/issues/37 is fixed

# PS #1: Nota bene, we intentionally *do NOT* have e.g.
# "java temurin-21.0.2+13.0.LTS" (or "java openjdk-21") here,
# due to https://github.com/enola-dev/enola/issues/520!
# (And such a Java also wouldn't be used by Bazel,
#  because of toolchains:remotejdk_21
#  in tools/java_toolchain/BUILD.
#  Only ./enola launcher script.)

# PS #2: We're similarly intentionally do NOT have e.g.
# "golang 1.21.7" here,
# due to https://github.com/enola-dev/enola/issues/532.
# FYI Go is required to install Bazelisk, if required
# (and perhaps for Go development later); and it's used
# by Bazel, due to go_sdk.host() in MODULE.bazel.

# https://bun.sh (with https://github.com/cometkim/asdf-bun)
# TODO Replace completely with rules_bun from //tools/bun
bun 1.2.9
