# PLEASE only use fixed (package)==(version)

pre-commit==3.3.3
mkdocs-material==9.1.16
mkdocs-git-committers-plugin-2==1.1.2
mkdocs-git-revision-date-localized-plugin==1.2.0

# Used by mkdocs.yaml#plugins.git-committers
lxml==4.9.2

# Used by mkdocs.yaml#plugins.blog, see
# https://squidfunk.github.io/mkdocs-material/setup/setting-up-a-blog/#+blog.post_readtime
readtime==2.0.0

# https://asciinema.org
asciinema==2.2.0

# https://github.com/mondeja/mkdocs-include-markdown-plugin (ASL)
# Possible alternative: https://github.com/cmacmackin/markdown-include (GPL)
mkdocs-include-markdown-plugin==4.0.4
