# PLEASE only use fixed (package)==(version)

pre-commit==3.6.1
mkdocs-material==9.5.7
mkdocs-git-committers-plugin-2==2.2.3
mkdocs-git-revision-date-localized-plugin==1.2.2

# Used by mkdocs.yaml#plugins.git-committers
lxml==5.1.0

# Used by mkdocs.yaml#plugins.blog, see
# https://squidfunk.github.io/mkdocs-material/setup/setting-up-a-blog/#+blog.post_readtime
readtime==3.0.0

# https://asciinema.org
asciinema==2.4.0

# https://github.com/mondeja/mkdocs-include-markdown-plugin (ASL)
# Possible alternative: https://github.com/cmacmackin/markdown-include (GPL)
mkdocs-include-markdown-plugin==6.0.4
