# PLEASE only use fixed (package)==(version)

# https://pre-commit.com
pre-commit==4.3.0

# https://linkml.io
linkml==1.9.2
# TODO https://github.com/linkml/linkml/issues/2592
linkml-runtime==1.9.5

# https://github.com/fcivaner/hashdir
hashdir==0.24

# MkDocs
mkdocs-material==9.6.21
mkdocs-git-revision-date-localized-plugin==1.4.7

# Used by mkdocs.yaml#plugins.blog, see
# https://squidfunk.github.io/mkdocs-material/setup/setting-up-a-blog/#+blog.post_readtime
readtime==3.0.0

# https://asciinema.org
asciinema==2.4.0

# https://github.com/mondeja/mkdocs-include-markdown-plugin (ASL)
# Possible alternative: https://github.com/cmacmackin/markdown-include (GPL)
mkdocs-include-markdown-plugin==7.2.0
