body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.app-bar {
  color: #ccc;
  background-color: green;
  display: grid;
  grid-template-columns: 5em auto 2em;
  justify-items: stretch;
  align-items: center;
  height: 2.5em;
  padding: 0 20px;
}

.app-bar input {
  width: 100%;
}

.help {
  float: right;
  color: #ccc;
}

.main {
  padding: 0.7em;
  padding-top: 1em;
}

.proto {
  padding: 0.3em;
  border-style: solid;
  color: darkolivegreen;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

table.thing {
  border: 2px;
  border-style: solid;
  border-collapse: collapse;
  border-color: cadetblue;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
table.thing td {
  padding: 4px;
  vertical-align: top;
}
table.thing td.label {
  border-right-style: dotted;
  border-color: burlywood;
}
table.thing ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
table.thing li {
  border-top-style: dashed;
  border-top-color: cadetblue;
}
