name: "Test"

on:
  push:
    branches: [ main, private ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ main, private ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        with:
          # https://github.com/actions/cache/pull/575/files
          path: |
            ~/.cache/bazel
            ~/.cache/bazelisk
            /private/var/tmp/_bazel_runner/
          key: ${{ runner.os }}-bazel-${{ steps.cache-key.outputs.uniq }}-${{ hashFiles('WORKSPACE', '.bazelrc', '.bazelversion', 'BUILD', 'BUILD.bazel', '**/BUILD', '**/BUILD.bazel', 'MODULE', 'MODULE.bazel', 'maven_install.json', 'bazel/dependencies.bzl', 'bazel/repositories.bzl') }}
          restore-keys: ${{ runner.os }}-bazel-${{ steps.cache-key.outputs.uniq }}-
      - run: ./test.bash
